@import 'colors.scss';
@import 'components/left-panel.scss';

* {
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    background-color: $background-color;
    color: $text-color;
}

